.btn.btn-primary {
	display: block;
	color: #2b74ba;
    font-weight: bold;
    border: none;
    background-color: #ffcb05;

    &:hover, &:active, &:focus, &:not(:disabled):not(.disabled):active {
        background-color: #385faa;
    }
}