.card__group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	justify-content: center;

	@media (max-width: 576px) {
		grid-template-columns: 100%;
		padding: 20px;
	}
}

.card--pokemon {
	margin: 15px;
	border-radius: 6px;
	min-width: 250px;
    height: 200px;
	box-shadow: -1px 1px 5px 0 rgba(3, 3, 3, 0.18);
	padding: 15px;
	position: relative;

	&:hover {
		box-shadow: -1px 1px 11px 0 rgba(3, 3, 3, 0.18);

		.card__img:hover {
			filter: contrast(100%);
		}
	}

	&.card__load {
		animation: rotateCard 2s linear infinite;
	}

	.card__header {
		display: flex;
		justify-content: space-between;

		.card__header--title {
			margin-top: 0;
			text-transform: capitalize;
		}

	}

	.card__info {
		margin-bottom: 12px;
		line-height: 1;
		color: #717171;

		& > p {
			margin: 0;

			& > small {
				font-weight: normal;
			}
		}

		small {
			font-weight: bold;
		}
	}

	.card__img {
		width: 120px;
		position: absolute;
		right: 4px;
		bottom: 10px;
		filter: contrast(60%);
		transition: .3s;
	}

	.card_img_shadow {
		width: 120px;
		height: 20px;
		border-radius: 50%;
		background-color: #dedede;
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
}


@keyframes rotateCard {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
